<%- include("partials/header") -%>

<div class='row'>
  <div class='col-sm-2 kolom_kiri'>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <h1>Menu</h1>
    </div>

    <span style="font-size:30px;cursor:pointer;padding-left: 30px" onclick="openNav()">&#9776;</span>

    <script>
      function openNav() {
        document.getElementById("mySidenav").style.width = "16.66%";
      }

      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
      }
    </script>
  </div>
  <div class='col-sm-10 div_crisbar'>
    <table class="table" style="color:white;">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nama Pelapor</th>
          <th scope="col">Laporan</th>
        </tr>
      </thead>
      <tbody>
        <% for (var i = 0; i < reports.pelapor.length; i++) { %>
        <tr>
          <th scope="row"><%= i+1 %></td>
          <td><%= reports.pelapor[i] %></td>
          <td><%= reports.laporan[i] %></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>

<%- include("partials/footer") -%>